.sec {
    position: relative;
    width: 100%;
    min-width: 100vh;
    background: linear-gradient(to left, #FFD700, #1C1C1C);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.custom-shape-divider-bottom-1602519020 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1602519020 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1602519020 .shape-fill {
    fill: #1C1C1C;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 0;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    list-style: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.nav li a:hover {
    background-color: #1C1C1C;
}

header .nav li a {
    color: #FFFFFF;
    text-decoration: none;
}

.content {
    position: relative;
    z-index: 1;
}

.content h2 {
    color: #FFFFFF;
    font-size: 5em;
    line-height: 1em;
}

.content h2 span {
    color: #FFFFFF;
    font-size: 0.7em;
}

.content p {
    color: #FFFFFF;
    margin: 10px 0 20px;
}

.icon1 {
    position: relative;
    bottom: 0;
}


/* icons font awesome */

.social li a i {
    align-items: center;
    justify-content: center;
}

.social li a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    background-color: #f4c430;
    color: #FFFFFF;
    border-radius: 40%;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 2), 2px 2px 5px rgba(0, 0, 0, 2);
    transition: 0.5s;
}

.social li a:hover {
    justify-content: center;
    align-items: center;
    color: #D3D3D3;
    transform: translateY(-20px);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 2), 2px 24px 10px rgba(0, 0, 0, 1);
}

.social li a:before {
    content: '';
    position: absolute;
}


/* fim cfg icons */


/* estilo da container */

.container h3 {
    margin: 13px;
    padding: 7px;
}

.container p {
    margin-top: 40px;
    margin-bottom: 1rem;
    padding: 15px;
}

.container {
    margin: 25px;
    margin-top: 0;
}